In [1]:
import json
import plotly.offline
import plotly.graph_objs as go
import pandas as pd

In [111]:
df = pd.read_json("data.json")

In [101]:
df.head()

,Account Name,City,Country,Date and Time,IP Address,Location,State
0,xxxxxxxxxxxx,Benton,United States,"Sunday, January 8, 2017 at 7:46:32 AM Central ...",108.64.45.187,"Benton, Arkansas, United States",Arkansas
1,xxxxxxxxxxxx,Conway,United States,"Sunday, January 8, 2017 at 2:08:42 PM Central ...",24.144.24.103,"Conway, Arkansas, United States",Arkansas
2,xxxxxxxxxxxx,Oklahoma City,United States,"Sunday, January 8, 2017 at 3:38:24 PM Central ...",166.173.62.123,"Oklahoma City, Oklahoma, United States",Oklahoma
3,xxxxxxxxxxxx,North Bethesda,United States,"Sunday, January 8, 2017 at 8:08:30 PM Central ...",73.133.196.202,"North Bethesda, Maryland, United States",Maryland
4,xxxxxxxxxxxx,North Bethesda,United States,"Sunday, January 8, 2017 at 8:08:31 PM Central ...",73.133.196.202,"North Bethesda, Maryland, United States",Maryland

In [67]:
import geopy
from geopy.geocoders import Nominatim

geolocator = Nominatim()

location_lat = []
location_long = []
for x in range(0, len(df)):
    city = df.City[x]
    #print(city)
    state = df.State[x]
    #print(state)
    country = df.Country[x]
    #print(country)
    location = {"city": city, "state": state, "country": country,}
    location_lat.append(geolocator.geocode(location, timeout=2).latitude)
    location_long.append(geolocator.geocode(location, timeout=2).longitude)

In [112]:
lat_series = pd.Series(location_lat, name="Latitude")
long_series = pd.Series(location_long, name="Longitude")
df = pd.concat([df, lat_series, long_series], axis=1)
df.head()

,Account Name,City,Country,Date and Time,IP Address,Location,State,Latitude,Longitude
0,xxxxxxxxxxxx,Benton,United States,"Sunday, January 8, 2017 at 7:46:32 AM Central ...",108.64.45.187,"Benton, Arkansas, United States",Arkansas,34.564537,-92.586828
1,xxxxxxxxxxxx,Conway,United States,"Sunday, January 8, 2017 at 2:08:42 PM Central ...",24.144.24.103,"Conway, Arkansas, United States",Arkansas,35.088696,-92.442101
2,xxxxxxxxxxxx,Oklahoma City,United States,"Sunday, January 8, 2017 at 3:38:24 PM Central ...",166.173.62.123,"Oklahoma City, Oklahoma, United States",Oklahoma,35.472989,-97.517054
3,xxxxxxxxxxxx,North Bethesda,United States,"Sunday, January 8, 2017 at 8:08:30 PM Central ...",73.133.196.202,"North Bethesda, Maryland, United States",Maryland,39.046129,-77.113010
4,xxxxxxxxxxxx,North Bethesda,United States,"Sunday, January 8, 2017 at 8:08:31 PM Central ...",73.133.196.202,"North Bethesda, Maryland, United States",Maryland,39.046129,-77.113010

In [113]:
df.to_json("data.json", orient="records")