In [129]:
import pandas as pd
from geopy.geocoders import Nominatim

df_logins = pd.read_csv('ErdagSampleData.csv')

In [130]:
df_logins

,Account Name,IP Address,Location,Date and Time
0,xxxxxxxxxxxx,108.64.45.187,"Benton, Arkansas, United States","Sunday, January 8, 2017 at 7:46:32 AM Central ..."
1,xxxxxxxxxxxx,24.144.24.103,"Conway, Arkansas, United States","Sunday, January 8, 2017 at 2:08:42 PM Central ..."
2,xxxxxxxxxxxx,166.173.62.123,"Oklahoma City, Oklahoma, United States","Sunday, January 8, 2017 at 3:38:24 PM Central ..."
3,xxxxxxxxxxxx,73.133.196.202,"North Bethesda, Maryland, United States","Sunday, January 8, 2017 at 8:08:30 PM Central ..."
4,xxxxxxxxxxxx,73.133.196.202,"North Bethesda, Maryland, United States","Sunday, January 8, 2017 at 8:08:31 PM Central ..."
5,xxxxxxxxxxxx,73.133.196.202,"North Bethesda, Maryland, United States","Sunday, January 8, 2017 at 8:08:30 PM Central ..."
6,xxxxxxxxxxxx,2601:381:8101:1b0f:d066:4f15:899b:dc49,"Little Rock, Arkansas, United States","Sunday, January 8, 2017 at 8:52:47 PM Central ..."
7,xxxxxxxxxxxx,2601:381:8101:1b0f:d066:4f15:899b:dc49,"Little Rock, Arkansas, United States","Sunday, January 8, 2017 at 8:52:46 PM Central ..."
8,xxxxxxxxxxxx,2601:381:8101:1b0f:d066:4f15:899b:dc49,"Little Rock, Arkansas, United States","Sunday, January 8, 2017 at 8:52:47 PM Central ..."
9,xxxxxxxxxxxx,2601:381:8101:1b0f:d066:4f15:899b:dc49,"Little Rock, Arkansas, United States","Sunday, January 8, 2017 at 8:52:47 PM Central ..."
10,xxxxxxxxxxxx,2602:30a:c071:a260:6c0d:5d86:be0f:a774,"Little Rock, Arkansas, United States","Sunday, January 8, 2017 at 9:36:11 PM Central ..."
11,xxxxxxxxxxxx,99.195.220.83,"Cabot, Arkansas, United States","Sunday, January 8, 2017 at 11:41:13 PM Central..."
12,xxxxxxxxxxxx,2601:140:8000:54de:ed32:8d54:1adc:ba75,"Alexandria, Virginia, United States","Monday, January 9, 2017 at 5:29:52 AM Central ..."
13,xxxxxxxxxxxx,107.140.167.130,"Little Rock, Arkansas, United States","Monday, January 9, 2017 at 5:51:54 AM Central ..."
14,xxxxxxxxxxxx,159.63.69.22,"Huntsville, Alabama, United States","Monday, January 9, 2017 at 8:09:10 AM Central ..."
15,xxxxxxxxxxxx,159.63.69.22,"Huntsville, Alabama, United States","Monday, January 9, 2017 at 8:09:10 AM Central ..."
16,xxxxxxxxxxxx,166.173.60.116,"Dallas, Texas, United States","Monday, January 9, 2017 at 8:41:15 AM Central ..."
17,xxxxxxxxxxxx,2607:f8b0:400c:c08::217,United States,"Monday, January 9, 2017 at 10:11:00 AM Central..."
18,xxxxxxxxxxxx,72.168.145.104,"Ontario, California, United States","Monday, January 9, 2017 at 1:53:53 PM Central ..."
19,xxxxxxxxxxxx,2601:381:4203:241e:7d0b:5fc0:ae42:66ba,"Little Rock, Arkansas, United States","Monday, January 9, 2017 at 2:47:13 PM Central ..."
20,xxxxxxxxxxxx,2601:381:4203:241e:7d0b:5fc0:ae42:66ba,"Little Rock, Arkansas, United States","Monday, January 9, 2017 at 2:47:14 PM Central ..."
21,xxxxxxxxxxxx,166.177.121.119,"Dallas, Texas, United States","Monday, January 9, 2017 at 3:59:13 PM Central ..."
22,xxxxxxxxxxxx,73.133.196.202,"North Bethesda, Maryland, United States","Monday, January 9, 2017 at 8:25:58 PM Central ..."
23,xxxxxxxxxxxx,73.133.196.202,"North Bethesda, Maryland, United States","Monday, January 9, 2017 at 8:25:58 PM Central ..."
24,xxxxxxxxxxxx,2602:304:ce4d:5130:e9da:509a:c1ba:4d5a,"Camden, Arkansas, United States","Monday, January 9, 2017 at 8:49:46 PM Central ..."
25,xxxxxxxxxxxx,166.137.216.219,"Dallas, Texas, United States","Monday, January 9, 2017 at 9:05:31 PM Central ..."
26,xxxxxxxxxxxx,166.137.216.219,"Dallas, Texas, United States","Monday, January 9, 2017 at 9:05:30 PM Central ..."
27,xxxxxxxxxxxx,166.137.216.219,"Dallas, Texas, United States","Monday, January 9, 2017 at 9:05:31 PM Central ..."
28,xxxxxxxxxxxx,166.137.216.219,"Dallas, Texas, United States","Monday, January 9, 2017 at 9:05:30 PM Central ..."
29,xxxxxxxxxxxx,73.129.119.60,"Westminster, Maryland, United States","Tuesday, January 10, 2017 at 12:10:01 AM Centr..."
30,xxxxxxxxxxxx,2602:30a:c071:a260:4d59:9f8a:3d13:dc12,"Little Rock, Arkansas, United States","Tuesday, January 10, 2017 at 1:50:54 AM Centra..."
31,xxxxxxxxxxxx,107.140.167.130,"Monticello, Arkansas, United States","Tuesday, January 10, 2017 at 5:52:17 AM Centra..."
32,xxxxxxxxxxxx,75.42.10.240,"Little Rock, Arkansas, United States","Tuesday, January 10, 2017 at 7:09:25 AM Centra..."
33,xxxxxxxxxxxx,159.63.69.22,"Huntsville, Alabama, United States","Tuesday, January 10, 2017 at 9:10:12 AM Centra..."
34,xxxxxxxxxxxx,159.63.69.22,"Huntsville, Alabama, United States","Tuesday, January 10, 2017 at 9:10:11 AM Centra..."

In [21]:
df_logins.loc[:,"Location"]

0             Benton, Arkansas, United States
1             Conway, Arkansas, United States
2      Oklahoma City, Oklahoma, United States
3     North Bethesda, Maryland, United States
4     North Bethesda, Maryland, United States
5     North Bethesda, Maryland, United States
6        Little Rock, Arkansas, United States
7        Little Rock, Arkansas, United States
8        Little Rock, Arkansas, United States
9        Little Rock, Arkansas, United States
10       Little Rock, Arkansas, United States
11             Cabot, Arkansas, United States
12        Alexandria, Virginia, United States
13       Little Rock, Arkansas, United States
14         Huntsville, Alabama, United States
15         Huntsville, Alabama, United States
16               Dallas, Texas, United States
17                              United States
18         Ontario, California, United States
19       Little Rock, Arkansas, United States
20       Little Rock, Arkansas, United States
21               Dallas, Texas, United States
22    North Bethesda, Maryland, United States
23    North Bethesda, Maryland, United States
24            Camden, Arkansas, United States
25               Dallas, Texas, United States
26               Dallas, Texas, United States
27               Dallas, Texas, United States
28               Dallas, Texas, United States
29       Westminster, Maryland, United States
30       Little Rock, Arkansas, United States
31        Monticello, Arkansas, United States
32       Little Rock, Arkansas, United States
33         Huntsville, Alabama, United States
34         Huntsville, Alabama, United States
Name: Location, dtype: object

In [116]:
for x in df_logins.loc[:, "Location"]:
    print(x.split(", "))

['Benton', 'Arkansas', 'United States']
['Conway', 'Arkansas', 'United States']
['Oklahoma City', 'Oklahoma', 'United States']
['North Bethesda', 'Maryland', 'United States']
['North Bethesda', 'Maryland', 'United States']
['North Bethesda', 'Maryland', 'United States']
['Little Rock', 'Arkansas', 'United States']
['Little Rock', 'Arkansas', 'United States']
['Little Rock', 'Arkansas', 'United States']
['Little Rock', 'Arkansas', 'United States']
['Little Rock', 'Arkansas', 'United States']
['Cabot', 'Arkansas', 'United States']
['Alexandria', 'Virginia', 'United States']
['Little Rock', 'Arkansas', 'United States']
['Huntsville', 'Alabama', 'United States']
['Huntsville', 'Alabama', 'United States']
['Dallas', 'Texas', 'United States']
['United States']
['Ontario', 'California', 'United States']
['Little Rock', 'Arkansas', 'United States']
['Little Rock', 'Arkansas', 'United States']
['Dallas', 'Texas', 'United States']
['North Bethesda', 'Maryland', 'United States']
['North Bethesda', 'Maryland', 'United States']
['Camden', 'Arkansas', 'United States']
['Dallas', 'Texas', 'United States']
['Dallas', 'Texas', 'United States']
['Dallas', 'Texas', 'United States']
['Dallas', 'Texas', 'United States']
['Westminster', 'Maryland', 'United States']
['Little Rock', 'Arkansas', 'United States']
['Monticello', 'Arkansas', 'United States']
['Little Rock', 'Arkansas', 'United States']
['Huntsville', 'Alabama', 'United States']
['Huntsville', 'Alabama', 'United States']

In [131]:
df_logins.Location

0             Benton, Arkansas, United States
1             Conway, Arkansas, United States
2      Oklahoma City, Oklahoma, United States
3     North Bethesda, Maryland, United States
4     North Bethesda, Maryland, United States
5     North Bethesda, Maryland, United States
6        Little Rock, Arkansas, United States
7        Little Rock, Arkansas, United States
8        Little Rock, Arkansas, United States
9        Little Rock, Arkansas, United States
10       Little Rock, Arkansas, United States
11             Cabot, Arkansas, United States
12        Alexandria, Virginia, United States
13       Little Rock, Arkansas, United States
14         Huntsville, Alabama, United States
15         Huntsville, Alabama, United States
16               Dallas, Texas, United States
17                              United States
18         Ontario, California, United States
19       Little Rock, Arkansas, United States
20       Little Rock, Arkansas, United States
21               Dallas, Texas, United States
22    North Bethesda, Maryland, United States
23    North Bethesda, Maryland, United States
24            Camden, Arkansas, United States
25               Dallas, Texas, United States
26               Dallas, Texas, United States
27               Dallas, Texas, United States
28               Dallas, Texas, United States
29       Westminster, Maryland, United States
30       Little Rock, Arkansas, United States
31        Monticello, Arkansas, United States
32       Little Rock, Arkansas, United States
33         Huntsville, Alabama, United States
34         Huntsville, Alabama, United States
Name: Location, dtype: object

In [164]:
def city_split(df):
    cell = df.Location.str.split(", ")
    #print(cell)
    #loc_list = cell.split(", ")
    #print(loc_list)
    
    #if len(loc_list) == 3:
     #   city = loc_list[0]
      #  return city
    
    return cell[0]
    
#df_logins = df_logins.assign(City=lambda df_logins: df_logins)

In [165]:
df_logins["City"] = city_split(df_logins)

ValueError: Length of values does not match length of index

In [118]:
counter = 0

for x in df_logins.loc[:, "Location"]:
    loc_list = x.split(", ")
    
    if len(loc_list) == 3:
        df_location_dict = {
        "city" : loc_list[0],
        "state" : loc_list[1],
        "country" : loc_list[2],
        }
    else:
        continue
    
    g = Nominatim()
    coords = g.geocode(df_location_dict)

    coords_dict = {
        "lat" : coords.latitude,
        "long" : coords.longitude,
    }
    print(counter, coords_dict)
    counter += 1

0 {'long': -92.5868279, 'lat': 34.5645372}
1 {'long': -92.442101, 'lat': 35.0886963}
2 {'long': -97.5170535, 'lat': 35.4729886}
3 {'long': -77.1130096, 'lat': 39.0461292}
4 {'long': -77.1130096, 'lat': 39.0461292}
5 {'long': -77.1130096, 'lat': 39.0461292}
6 {'long': -92.2895947, 'lat': 34.7464809}
7 {'long': -92.2895947, 'lat': 34.7464809}
8 {'long': -92.2895947, 'lat': 34.7464809}
9 {'long': -92.2895947, 'lat': 34.7464809}
10 {'long': -92.2895947, 'lat': 34.7464809}
11 {'long': -92.0165335, 'lat': 34.974532}
12 {'long': -77.0470228, 'lat': 38.8051095}
13 {'long': -92.2895947, 'lat': 34.7464809}
14 {'long': -86.585901, 'lat': 34.729847}
15 {'long': -86.585901, 'lat': 34.729847}
16 {'long': -96.7968558, 'lat': 32.7762719}
17 {'long': -117.6484303, 'lat': 34.065846}
18 {'long': -92.2895947, 'lat': 34.7464809}
19 {'long': -92.2895947, 'lat': 34.7464809}
20 {'long': -96.7968558, 'lat': 32.7762719}
21 {'long': -77.1130096, 'lat': 39.0461292}
22 {'long': -77.1130096, 'lat': 39.0461292}
23 {'long': -92.8343293, 'lat': 33.5845582}
24 {'long': -96.7968558, 'lat': 32.7762719}
25 {'long': -96.7968558, 'lat': 32.7762719}
26 {'long': -96.7968558, 'lat': 32.7762719}
27 {'long': -96.7968558, 'lat': 32.7762719}
28 {'long': -76.9959276, 'lat': 39.5752639}
29 {'long': -92.2895947, 'lat': 34.7464809}
30 {'long': -91.7912326, 'lat': 33.6293427}
31 {'long': -92.2895947, 'lat': 34.7464809}
32 {'long': -86.585901, 'lat': 34.729847}
33 {'long': -86.585901, 'lat': 34.729847}