In [111]:
import pandas as pd
import json

In [112]:
df = pd.read_json("data.json")

In [113]:
df.head()

,Account Name,City,Country,Date,Date and Time,IP Address,Latitude,Location,Longitude,State,Time,Time Zone
0,xxxxxxxxxxxx,Benton,United States,2017-01-08,"Sunday, January 8, 2017 at 7:46:32 AM Central ...",108.64.45.187,34.564537,"Benton, Arkansas, United States",-92.586828,Arkansas,1483861592000,Central Standard Time
1,xxxxxxxxxxxx,Conway,United States,2017-01-08,"Sunday, January 8, 2017 at 2:08:42 PM Central ...",24.144.24.103,35.088696,"Conway, Arkansas, United States",-92.442101,Arkansas,1483884522000,Central Standard Time
2,xxxxxxxxxxxx,Oklahoma City,United States,2017-01-08,"Sunday, January 8, 2017 at 3:38:24 PM Central ...",166.173.62.123,35.472989,"Oklahoma City, Oklahoma, United States",-97.517054,Oklahoma,1483889904000,Central Standard Time
3,xxxxxxxxxxxx,North Bethesda,United States,2017-01-08,"Sunday, January 8, 2017 at 8:08:30 PM Central ...",73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,1483906110000,Central Standard Time
4,xxxxxxxxxxxx,North Bethesda,United States,2017-01-08,"Sunday, January 8, 2017 at 8:08:31 PM Central ...",73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,1483906111000,Central Standard Time

In [114]:
del df['Time Zone']
df.head()

,Account Name,City,Country,Date,Date and Time,IP Address,Latitude,Location,Longitude,State,Time
0,xxxxxxxxxxxx,Benton,United States,2017-01-08,"Sunday, January 8, 2017 at 7:46:32 AM Central ...",108.64.45.187,34.564537,"Benton, Arkansas, United States",-92.586828,Arkansas,1483861592000
1,xxxxxxxxxxxx,Conway,United States,2017-01-08,"Sunday, January 8, 2017 at 2:08:42 PM Central ...",24.144.24.103,35.088696,"Conway, Arkansas, United States",-92.442101,Arkansas,1483884522000
2,xxxxxxxxxxxx,Oklahoma City,United States,2017-01-08,"Sunday, January 8, 2017 at 3:38:24 PM Central ...",166.173.62.123,35.472989,"Oklahoma City, Oklahoma, United States",-97.517054,Oklahoma,1483889904000
3,xxxxxxxxxxxx,North Bethesda,United States,2017-01-08,"Sunday, January 8, 2017 at 8:08:30 PM Central ...",73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,1483906110000
4,xxxxxxxxxxxx,North Bethesda,United States,2017-01-08,"Sunday, January 8, 2017 at 8:08:31 PM Central ...",73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,1483906111000

In [115]:
df["Date"] = df["Date and Time"].str.split("at").apply(lambda x: x[0].strip())

In [125]:
del df["Time"]
df.head()

,Account Name,City,Country,Date,Date and Time,IP Address,Latitude,Location,Longitude,State,Time Zone
0,xxxxxxxxxxxx,Benton,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 7:46:32 AM Central ...",108.64.45.187,34.564537,"Benton, Arkansas, United States",-92.586828,Arkansas,Central Standard Time
1,xxxxxxxxxxxx,Conway,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 2:08:42 PM Central ...",24.144.24.103,35.088696,"Conway, Arkansas, United States",-92.442101,Arkansas,Central Standard Time
2,xxxxxxxxxxxx,Oklahoma City,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 3:38:24 PM Central ...",166.173.62.123,35.472989,"Oklahoma City, Oklahoma, United States",-97.517054,Oklahoma,Central Standard Time
3,xxxxxxxxxxxx,North Bethesda,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 8:08:30 PM Central ...",73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,Central Standard Time
4,xxxxxxxxxxxx,North Bethesda,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 8:08:31 PM Central ...",73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,Central Standard Time

In [127]:
df["Time"] = df["Date and Time"].str.split("at").apply(lambda x: x[1].strip())
df.head()

,Account Name,City,Country,Date,Date and Time,IP Address,Latitude,Location,Longitude,State,Time Zone,Time
0,xxxxxxxxxxxx,Benton,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 7:46:32 AM Central ...",108.64.45.187,34.564537,"Benton, Arkansas, United States",-92.586828,Arkansas,Central Standard Time,7:46:32 AM Central Standard Time
1,xxxxxxxxxxxx,Conway,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 2:08:42 PM Central ...",24.144.24.103,35.088696,"Conway, Arkansas, United States",-92.442101,Arkansas,Central Standard Time,2:08:42 PM Central Standard Time
2,xxxxxxxxxxxx,Oklahoma City,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 3:38:24 PM Central ...",166.173.62.123,35.472989,"Oklahoma City, Oklahoma, United States",-97.517054,Oklahoma,Central Standard Time,3:38:24 PM Central Standard Time
3,xxxxxxxxxxxx,North Bethesda,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 8:08:30 PM Central ...",73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,Central Standard Time,8:08:30 PM Central Standard Time
4,xxxxxxxxxxxx,North Bethesda,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 8:08:31 PM Central ...",73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,Central Standard Time,8:08:31 PM Central Standard Time

In [129]:
df["Time Stamp"] = df["Time"].apply(lambda x: pd.to_datetime(x[0:(len(x)-22)]))
df.head()

,Account Name,City,Country,Date,Date and Time,IP Address,Latitude,Location,Longitude,State,Time Zone,Time,Time Stamp
0,xxxxxxxxxxxx,Benton,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 7:46:32 AM Central ...",108.64.45.187,34.564537,"Benton, Arkansas, United States",-92.586828,Arkansas,Central Standard Time,7:46:32 AM Central Standard Time,2017-03-22 07:46:32
1,xxxxxxxxxxxx,Conway,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 2:08:42 PM Central ...",24.144.24.103,35.088696,"Conway, Arkansas, United States",-92.442101,Arkansas,Central Standard Time,2:08:42 PM Central Standard Time,2017-03-22 14:08:42
2,xxxxxxxxxxxx,Oklahoma City,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 3:38:24 PM Central ...",166.173.62.123,35.472989,"Oklahoma City, Oklahoma, United States",-97.517054,Oklahoma,Central Standard Time,3:38:24 PM Central Standard Time,2017-03-22 15:38:24
3,xxxxxxxxxxxx,North Bethesda,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 8:08:30 PM Central ...",73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,Central Standard Time,8:08:30 PM Central Standard Time,2017-03-22 20:08:30
4,xxxxxxxxxxxx,North Bethesda,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 8:08:31 PM Central ...",73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,Central Standard Time,8:08:31 PM Central Standard Time,2017-03-22 20:08:31

In [130]:
df['Hour'] = df['Time Stamp'].dt.hour

In [131]:
df.head()

,Account Name,City,Country,Date,Date and Time,IP Address,Latitude,Location,Longitude,State,Time Zone,Time,Time Stamp,Hour
0,xxxxxxxxxxxx,Benton,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 7:46:32 AM Central ...",108.64.45.187,34.564537,"Benton, Arkansas, United States",-92.586828,Arkansas,Central Standard Time,7:46:32 AM Central Standard Time,2017-03-22 07:46:32,7
1,xxxxxxxxxxxx,Conway,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 2:08:42 PM Central ...",24.144.24.103,35.088696,"Conway, Arkansas, United States",-92.442101,Arkansas,Central Standard Time,2:08:42 PM Central Standard Time,2017-03-22 14:08:42,14
2,xxxxxxxxxxxx,Oklahoma City,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 3:38:24 PM Central ...",166.173.62.123,35.472989,"Oklahoma City, Oklahoma, United States",-97.517054,Oklahoma,Central Standard Time,3:38:24 PM Central Standard Time,2017-03-22 15:38:24,15
3,xxxxxxxxxxxx,North Bethesda,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 8:08:30 PM Central ...",73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,Central Standard Time,8:08:30 PM Central Standard Time,2017-03-22 20:08:30,20
4,xxxxxxxxxxxx,North Bethesda,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 8:08:31 PM Central ...",73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,Central Standard Time,8:08:31 PM Central Standard Time,2017-03-22 20:08:31,20

In [132]:
df["Time Zone"] = df2["Date and Time"].apply(lambda x: x[-22:])
df.head()

,Account Name,City,Country,Date,Date and Time,IP Address,Latitude,Location,Longitude,State,Time Zone,Time,Time Stamp,Hour
0,xxxxxxxxxxxx,Benton,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 7:46:32 AM Central ...",108.64.45.187,34.564537,"Benton, Arkansas, United States",-92.586828,Arkansas,Central Standard Time,7:46:32 AM Central Standard Time,2017-03-22 07:46:32,7
1,xxxxxxxxxxxx,Conway,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 2:08:42 PM Central ...",24.144.24.103,35.088696,"Conway, Arkansas, United States",-92.442101,Arkansas,Central Standard Time,2:08:42 PM Central Standard Time,2017-03-22 14:08:42,14
2,xxxxxxxxxxxx,Oklahoma City,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 3:38:24 PM Central ...",166.173.62.123,35.472989,"Oklahoma City, Oklahoma, United States",-97.517054,Oklahoma,Central Standard Time,3:38:24 PM Central Standard Time,2017-03-22 15:38:24,15
3,xxxxxxxxxxxx,North Bethesda,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 8:08:30 PM Central ...",73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,Central Standard Time,8:08:30 PM Central Standard Time,2017-03-22 20:08:30,20
4,xxxxxxxxxxxx,North Bethesda,United States,"Sunday, January 8, 2017","Sunday, January 8, 2017 at 8:08:31 PM Central ...",73.133.196.202,39.046129,"North Bethesda, Maryland, United States",-77.113010,Maryland,Central Standard Time,8:08:31 PM Central Standard Time,2017-03-22 20:08:31,20

In [133]:
df.to_json("data.json", orient="records")

In [135]:
ticktext = []
for x in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]:
    ticktext.append('{}:00'.format(x))

In [136]:
ticktext

['0:00',
 '1:00',
 '2:00',
 '3:00',
 '4:00',
 '5:00',
 '6:00',
 '7:00',
 '8:00',
 '9:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '24:00']

In [144]:
tickvals = list(range(0,25)) #[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24],
ticktext = list("{}:00".format(x)))

SyntaxError: invalid syntax (<ipython-input-144-c9a5ecb7c8e6>, line 2)